<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468691922505-ms31vbirl409ugfinsl5h8mtjtmcq6tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468691922505-ms31vbirl409ugfinsl5h8mtjtmcq6tj</string>
	<key>API_KEY</key>
	<string>AIzaSyDroQ66aB2InmwGTd-ofs1OkpbJDEO9yog</string>
	<key>GCM_SENDER_ID</key>
	<string>468691922505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devckrishna.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-6438e</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-6438e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468691922505:ios:6b8d66ab01157284e2d998</string>
</dict>
</plist>